[submodule "SpaTrackerV2"]
	path = SpaTrackerV2
	url = https://github.com/henry123-boy/SpaTrackerV2
[submodule "Open-d4rt"]
	path = Open-d4rt
	url = https://github.com/Lijiaxin0111/Open-d4rt
[submodule "MV-TAP"]
	path = MV-TAP
	url = https://github.com/cvlab-kaist/MV-TAP
[submodule "TrackerSplat"]
	path = TrackerSplat
	url = https://github.com/yindaheng98/TrackerSplat
[submodule "Look-Around-and-Pay-Attention-LAPA-"]
	path = Look-Around-and-Pay-Attention-LAPA-
	url = https://github.com/ostadabbas/Look-Around-and-Pay-Attention-LAPA-
