[submodule "SpaTrackerV2"]
	path = SpaTrackerV2
	url = https://github.com/henry123-boy/SpaTrackerV2
[submodule "Open-d4rt"]
	path = Open-d4rt
	url = https://github.com/Lijiaxin0111/Open-d4rt
[submodule "MV-TAP"]
	path = MV-TAP
	url = https://github.com/cvlab-kaist/MV-TAP
